
    
<div class="container">
  <div class="col-md-6 offset-6">
    <h1 class= "text-center">Caption App!</h1>
  
    <h3>Welcome to Caption App! Please register to start uploading images, adding captions, and voting for best caption!</h3>

    <p>Registering is free, easy, and secure!</p>
    

    <%= link_to "Register", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>
    